<div class="video-detail border p-4">
    <div class="card mb-3 w-100">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title: </h5>
                    <p class="card-text">Description: </p>
                    <p class="card-text">Description: </p>
                    <p class="card-text">Published date: </p>
                    <p class="card-text">Channel title: </p>
                    <p class="card-text"><a class="stretched-link">Video full detail</a></p>
                </div>
            </div>
        </div>
    </div>
</div>