<div class="video-detail border p-4">
    <div class="card mb-3 w-100" *ngFor="let item of detail$ | async;">
        <div class="row g-0">
            <div class="col-md-4">
                <iframe class="w-100 h-100" [src]="mergeUrl(item.id)">
                </iframe>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.snippet.title }} </h5>
                    <p class="card-text text">{{ item.snippet.description }}</p>
                    <p class="card-text">Channel title: {{ item.snippet.channelTitle }} </p>
                    <p class="card-text">Tag: {{ item.snippet.tags }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [src]="mergeUrl(item.id)" -->