<div class="container justify-content-center">
  <div class="wrapper">
    <div class="my-3">
      <input type="text" #inputValue class="form-control" [(ngModel)]="textContent" (keyup.enter)="searchVideo()">
    </div>

    <div class="dropdown">
      <button class="btn border-0 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-sort-amount-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let item of filter"><button (click)="setFilter(item)" class="dropdown-item"
            [class.active]="filtered === item">{{
            item
            }}</button></li>
      </ul>
    </div>


    <!-- <div class="card" *ngIf="hasList$ | async">
      <div class="card-body">
        No video to find
      </div>
    </div> -->


    <app-video-search></app-video-search>

    <app-video-detail></app-video-detail>

    <app-pagination></app-pagination>
  </div>
</div>