<div class="container-fluid spotify-footer">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 spotify-play__menu">
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn border-0 me-2">
                    <i class="fas fa-random" style="font-size: 20px"></i>
                </button>
                <button class="btn border-0 me-2">
                    <i class="fas fa-angle-double-left" style="font-size: 20px"></i>
                </button>
                <button class="btn border-0 me-2">
                    <i class="fas fa-play-circle" style="font-size: 30px"></i>
                </button>
                <button class="btn border-0 me-2">
                    <i class="fas fa-angle-double-right" style="font-size: 20px"></i>
                </button>
                <button class="btn border-0 me-2">
                    <i class="fas fa-redo" style="font-size: 20px"></i>
                </button>
            </div>
            <input type="range" class="form-range" id="customRange1">
        </div>
        <div class="col-md-4 d-none d-md-block">
            <div class="d-flex justify-content-center align-items-center spotify-volumn">
                <label for="volumn">
                    <button class="btn border-0">
                        <i class="fas fa-volume-up"></i>
                    </button>
                </label>
                <input type="range" class="form-range col-md-2" id="volumn">
            </div>
        </div>
    </div>
</div>