.app {
  overflow: hidden;
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

/* header navbar user */
.header__navbar-user {
  display: flex;
  justify-items: center;
  position: relative;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

/* user menu */
.header__navbar-user-menu {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: calc(100% + 6px);
  right: 0;
  min-width: 160px;
  background-color: var(--white-color);
  border-radius: 2px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-menu::before {
  content: "";
  display: block;
  border-style: solid;
  border-width: 20px 27px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -29px;
  right: 6px;
}

.header__navbar-user-menu::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
  right: 0;
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  display: block;
  padding: 4px 16px;
}

.header__navbar-user-item a:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #f7f7f7;
}

/* header navbar qr */
.header__navbar-item-has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-icon-link:first-child {
  margin-left: 7px;
}

.header__navbar-item:hover:not(:nth-child(2)),
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.header__navbar-item--strong a {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

/* header qr code */
.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 120%;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
  display: none;
  animation: fadeIn ease-in 0.5s;
  z-index: 1;
}

.header__qr::before {
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 10%;
  content: "";
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-download-link:hover {
  opacity: 0.8;
}

.header__qr-download-link:nth-child(1) {
  margin-left: 20px;
}

.header__qr-download-link:nth-child(2) {
  margin-right: 20px;
}

.header__qr-download-img {
  height: 14px;
}

/* header notification */
.header__notify {
  position: absolute;
  z-index: 1;
  top: 120%;
  right: 0;
  width: 400px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrow ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}

.header__notify::before {
  content: "";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -30px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  width: 100%;
  height: 30px;
}

@keyframes headerNotifyGrow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: #888;
  margin: 0 0 0 12px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 40px;
  cursor: text;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__navbar-item-has-notify:hover .header__notify {
  display: block;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link {
  display: flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  /* flex: 1; */
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.header__notify-desc {
  display: block;
  font-size: 1.2rem;
  color: var(--desc-color);
  line-height: 1.6;
  margin-top: 4px;
}

.header__notify-footer {
  display: flex;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 6px 0;
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

/* authentication form */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.auth-form__switch-btn:hover {
  cursor: pointer;
}

.auth-form__form {
  margin-top: 16px;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls > :first-child {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 12px 36px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials--google {
  color: #666;
  background-color: var(--white-color);
}

.auth-form__socials-label {
  margin: 0 20px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help > :first-child {
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #eaeaea;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__mobile-search {
  padding: 0 12px;
  display: none;
}

.header-with-search-icon {
  font-size: 2.6rem;
  color: var(--white-color);
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
  display: block;
  line-height: 0;
}

.header__logo-img {
  width: 150px;
}

.header__search {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  color: var(--text-color);
  outline: none;
  border: none;
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 16px 0 8px;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option {
  position: absolute;
  top: calc(100% + 3px);
  right: 0;
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 1px #ccc;
  padding-left: 0;
  border-radius: 2px;
  display: none;
  animation: fadeIn linear 0.2s;
  z-index: 1;
}

.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 0;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px 8px;
}

.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  width: 60px;
  height: 34px;
  border-radius: 2px;
  margin-right: 2px;
}

.header__search-btn:hover {
  cursor: pointer;
  background-color: #ec593d;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

/* header cart */
.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 11px);
  right: -3px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  display: none;
  z-index: 1;
}

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}

.header__cart-list::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 4px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-lis--no-cart {
  padding: 24px 0;
}

.header__cart-lis--no-cart .header__cart-no-cart-img,
.header__cart-lis--no-cart .header__cart-list-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-no-cart-img {
  width: 54%;
  display: none;
}

.header__cart-list-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}

.header__cart-notice {
  position: absolute;
  top: -10px;
  right: -5px;
  padding: 1px 6px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-radius: 10px;
  border: 2px solid #ee4d2d;
}

/* header cart */
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 40vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  font-size: 1rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-quantity {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-desc {
  color: #757575;
  font-size: 1.3rem;
  font-weight: 300;
}

.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
}

.header__cart-item-remove:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.header__cart-cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-cart-view-cart:hover {
  background-color: #f05d41;
}

/* search history */
.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-history {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px #ccc;
  display: none;
  z-index: 1;
}

.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  padding-left: 0;
  margin: 0;
  font-size: 1.4rem;
  list-style: none;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

/* header sort bar */
.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.header__sort-item {
  flex: 1;
}

.header__sort-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  cursor: pointer;
  position: relative;
}

.header__sort-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 60%;
  border-left: 1px solid #e5e5e5;
}

.header__sort-link:hover {
  color: var(--primary-color);
}

.header__sort-item--active .header__sort-link {
  color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
  display: none;
}

/* app container */
.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 12px 16px;
  margin-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  list-style: none;
  padding: 0 0 8px 0;
  margin-left: 12px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  content: "";
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  position: relative;
  right: 0;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 4px 16px;
  display: block;
  transition: right linear 0.1s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}

/* mobile category */
.mobile-category {
  display: none;
}

.mobile-category__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
  display: none;
}

.mobile-category__item {
  flex-shrink: 0;
  border-radius: 6px;
  margin-right: 10px;
}

.mobile-category__item:nth-child(3n + 1) {
  background-color: #87afdb;
}

.mobile-category__item:nth-child(3n + 2) {
  background-color: #76c9bd;
}

.mobile-category__item:nth-child(3n + 3) {
  background-color: #88cf81;
}

.mobile-category__link {
  --line-height: 2rem;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: var(--line-height);
  font-weight: 300;
  overflow: hidden;
  text-align: center;
  width: 110px;
  height: calc(var(--line-height) * 2);
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 0 6px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* home sort + filter */
.home-filter {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__page {
  display: flex;
  align-items: center;
}

.home-filter__page {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  flex: 1;
  background-color: var(--white-color);
  display: flex;
  text-decoration: none;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.home-filter__page-btn-disabled {
  background-color: #f9f9f9;
  color: #ccc;
  cursor: default;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

/* home product item */
.home-product {
  margin-bottom: 10px;
}
.home-product-item {
  display: block;
  text-decoration: none;
  margin-top: 10px;
  background-color: var(--white-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform linear 0.1s;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: var(--text-color);
  height: 3.6rem;
  margin: 10px 10px 6px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
  margin-left: 10px;
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.home-product-item__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 10px 0;
}

.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__like-icon-fill {
  color: var(--primary-color);
  display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 1rem;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 8px;
}

.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.home-product-item__origin-brand {
  margin-right: auto;
}

.home-product-item__favorite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favorite span {
  color: var(--white-color);
}

.home-product-item__favorite i {
  color: var(--white-color);
  font-size: 0.9rem;
  margin: 0 4px 0 4px;
}

.home-product-item__favorite::after {
  content: "";
  left: 0;
  bottom: -3px;
  position: absolute;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  color: rgb(255, 216, 64, 0.94);
  background-color: currentColor;
}

.home-product-item__sale-off::after {
  position: absolute;
  bottom: -8px;
  right: 0;
  content: "";
  border-width: 0 20px 8px;
  border-style: solid;
  border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  top: 2px;
}

.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  top: 2px;
}

.home-product__pagination {
  margin: 56px 0 32px;
  padding-left: 0;
}

/* footer */
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  color: #737373;
  font-size: 1.4rem;
  padding: 2px 0;
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__link i {
  font-size: 1.6rem;
  margin-right: 6px;
}

.footer__download {
  display: flex;
}

.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid var(--border-color);
}

.footer__download-apps {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__download-apps-link {
  text-decoration: none;
}

.footer__download-app-img {
  height: 20px;
}

.footer__download-app-img:first-child {
  margin-bottom: 4px;
}

.footer__bottom {
  background-color: #f5f5f5;
  padding: 12px 0;
  margin-top: 24px;
}

.footer-copyright {
  margin: 0;
  text-align: center;
  font-size: 1.4rem;
  color: #737373;
}
