* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
h1,
h2 {
    color: #444;
}
h3 {
    color: #999;
}

.btn {
    background: #f05462;
    color: #fff;
    border: none;
    outline: none;
    text-align: center;
    padding: 6px 15px;
    box-sizing: border-box;
}

.btn:hover {
    color: #f05462;
    background: #fff;
    border: 1px solid #f05462;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}
th,
td {
    text-align: center;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 20px;
    padding: 10px 40px;
    color: #fff;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: #fff;
    color: #f05462;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
}

.container .header .nav .search input[type="text"] {
    border: none;
    outline: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .header .nav .user button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
}

.container .header .nav .user .img-case {
    height: 40px;
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 0 10px;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: #fff;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: #fff;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students {
    min-height: 50vh;
    flex: 2;
    background: #fff;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }

    .side-menu {
        align-items: center;
    }

    .side-menu li i {
        font-size: 26px;
    }
}

@media screen and (max-width: 536px) {
    .brand-name h1 {
        display: none;
    }

    .container .content .cards {
        justify-content: center;
    }

    .side-menu li i {
        font-size: 18px;
        text-align: center;
    }

    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }

    .container .header {
        height: auto;
        padding: 5px 0;
    }

    .container .header .nav {
        flex-direction: column-reverse;
    }

    .container .header .nav .search {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .container .header .nav .search input[type="text"] {
        flex: 1;
        margin-right: 5px;
    }

    .container .header .nav .user {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 5px;
    }
}
