<div class="d-flex flex-column flex-md-row justify-content-between py-2">
    <div class="text-white mb-2 mb-sm-0">
        <button class="btn btn-dark bg-gradient me-1">
            <i class="fas fa-angle-left">
            </i>
        </button>
        <button class="btn btn-dark bg-gradient">
            <i class="fas fa-angle-right">
            </i>
        </button>
    </div>
    <form class="d-flex d-md-block justify-content-between">
        <button class="btn me-2 btn-outline-secondary rounded-pill">Upgrade</button>
        <div class="btn btn-outline-secondary rounded-pill" type="submit">
            <i class="fas fa-user-circle me-2" style="font-size: 20px;"></i>
            Bui Tien Dat
        </div>
    </form>
</div>